* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* centraliza verticalmente */
    align-items: center;     /* centraliza horizontalmente */
    background-color: #f0f0f0;
}

h1{
    margin: 20px 0;
}

input {
    display: block;
    margin: 5px 0;
    padding: 8px;
    width: 200px;
}

button {
    padding: 8px 20px;
    background-color: #4682B4;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #315f86;
}
